/* ========================================= */
/* Essential CSS - Navigation Bar
/* ========================================= */

/* Mobile */
@media (max-width: 768px) {
    #navbar { /* Indents properly */
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        position: relative;
        z-index: 1000;
    }
    #menu_icon { /* Modifies Icon */
        z-index: 1001;
        position: fixed;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 45px;
        height: 45px;
        font-size: 1rem;
        cursor: pointer;

        border-radius: 50%;
        box-shadow: 0 1px 3px black;
        filter: drop-shadow(0 0 0.75rem black);

        user-select: none;
        transition: all 0.3s ease;
        line-height: 1;

        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
    }
    #menu_toggle:checked ~ #menu_icon { /* Changes Icon when clicked */
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(250, 162, 61, 0.055);
        filter: drop-shadow(0 0 0.1rem rgb(250, 162, 61));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
    }
    #menu_toggle { /* displays nothing when toggle */
        display: none;
    }

    #navbar_content { /* Navigation links */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        padding-top: 4.4rem;
        padding-left: 10px;
        padding-right: 10px;

        box-sizing: border-box;
        overflow-x: hidden;

        z-index: 999;
        pointer-events: none;

        opacity: 0;
        transition: transform 0.8s ease;
    }
    #menu_toggle:checked ~ #navbar_hide #navbar_content {
        opacity: 1;
        pointer-events: auto;
    }
    #navbar_content a {
        text-decoration: none;
        color: white;
        padding: 0.7rem 1rem;
        display: block;

        border-radius: 10px;
        box-shadow: 0 1px 3px black;

        font-family:'Courier New', Courier, monospace;
        font-size: 1rem;
        filter: drop-shadow(0 0 0 0.75rem black);
        text-align: center;

        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
        filter: drop-shadow(0 0 0 0.75rem black);
    }
    #navbar_content a:active {
        color:rgb(250, 162, 61);
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
        filter: drop-shadow(0 0 1rem rgb(250, 162, 61));
        font-size: large;
    }
    #navbar_content li {
        padding: 5px;
    }
}

/* Hides Hamburger Menu on Desktop */
@media (min-width: 769px) {
    #menu_toggle,
    #menu_icon {
        display: none !important;
    }
}

/* Desktop */
@media (min-width: 769px) {

    /* Hover Effect */
    #navbar_hide {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;;
    }
    #navbar_hide a {
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;

        transition: all 0.3s ease;
        transition-delay: 1.0s;
    }
    #navbar_hide:hover a {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition-delay: 0s;
    }
    /* Navigation Menu */
    #navbar_margin { /* Indents Margin Properly */
        margin-left: auto;
        margin-right: auto;
    }
    #navbar_content {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 5%;
    }
    #navbar_content li { /* Indents List Properly */
        margin-top: 30px;
    }
    #navbar_content a {
        text-decoration: none;
        color: white;
        letter-spacing: 5px;

        border-radius: 10px;
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.507));
        outline: 0;
        border: 0;

        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8vw;
        font-weight: 700;
        width: auto;
        padding: 10px 50px;
        margin-top: 0;
        text-align: center;

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
    }
        #navbar_content a:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(0, 0, 0, 0.385);
        filter: drop-shadow(0 0 0.5rem rgb(255, 136, 0));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
        font-size: 16px;
    }

}

/* ========================================= */
/* Essential CSS - Background Image
/* ========================================= */

/* Mobile */
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}

/* Desktop */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-image: url("../images/global/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-color: black;
        width: 100%;
        height: 100%;
    }

/* ========================================= */
/* Home CSS - Booking Button
/* ========================================= */

/* Mobile */
@media (max-width: 768px) {
    #button_alignment {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #button {
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 2vw;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        background: rgba(202, 163, 119, 0.432);
        border-radius: 20px;
        padding: 10px 20px 10px;
        font-size: 3vw;
        line-height: 1;          
    }
    #button:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgb(250, 162, 61);
        color: black;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
        padding: 4%;
    }
}
/* Desktop */
@media (min-width: 769px) {
    #button_alignment {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button {
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 2vw;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        border-radius: 20px;
        padding: 10px 20px 10px;
        font-size: 1vw;
        line-height: 1;

        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
    }
    #button:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(0, 0, 0, 0.385);
        filter: drop-shadow(0 0 0.1rem rgb(250, 162, 61));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
    }
}

/* ========================================= */
/* Home CSS - Contact Us Button
/* ========================================= */

/* Mobile */
@media (max-width: 768px) {
    #contact_button_alignment {
        position: fixed;
        bottom: 20px;   /* distance from bottom */
        right: 20px;    /* distance from right */
    }

    #contact_button {
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 2vw;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        width: 50px;
        height: 50px;
        border-radius: 50%;

        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        font-size: 1rem;

        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
    }
    #contact_button:active {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(0, 0, 0, 0.385);
        filter: drop-shadow(0 0 0.1rem rgb(250, 162, 61));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
        font-size: large;
    }
}
/* Desktop */
@media (min-width: 769px) {
    #contact_button_alignment {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }

    #contact_button {
        text-align: center;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 2vw;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        width: 50px;
        height: 50px;
        border-radius: 50%;

        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        font-size: 1rem;

        background-color: rgba(255, 255, 255, 0.007);
        backdrop-filter: blur(10px);
    }
    #contact_button:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(0, 0, 0, 0.385);
        filter: drop-shadow(0 0 0.1rem rgb(250, 162, 61));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    #contact_button:active {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background: rgba(0, 0, 0, 0.385);
        filter: drop-shadow(0 0 0.1rem rgb(250, 162, 61));
        color: rgb(255, 255, 255);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        font-weight: 700;
        font-size: large;
    }
}
/* ========================================= */
/* Home CSS - Header
/* ========================================= */

/* Mobile */
@media (max-width: 768px) {
    #header {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vw;
    
        text-align: center;
        font-size: 4vw;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
        filter:drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.322));
    }
    a {
        text-decoration: none;
    }
    .text2, .text3 {
            color:rgb(250, 162, 61);
        }
        .text2 {
            filter: blur(2px);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .text2:hover {
            filter: blur(0px);
            filter: drop-shadow(0 0 1rem rgb(250, 162, 61));
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            color:rgb(255, 250, 176);
        }
}
/* Desktop */
@media (min-width: 769px) {
    #header {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vw;

        text-align: center;
        font-size: 1.4vw;
        line-height: 0.5vw;
        color: rgb(254, 255, 235);
        filter:drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.322));
    }
    a {
        text-decoration: none;
    }
    .text2, .text3 {
        color:rgb(250, 162, 61);
    }
    .text2 {
        filter: blur(2px);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .text2:hover {
        filter: blur(0px);
        filter: drop-shadow(0 0 1rem rgb(250, 162, 61));
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        color:rgb(255, 250, 176);
    }
}

/* ========================================= */
/* Home CSS - Buttons
/* ========================================= */

/* Mobile */


/* Desktop */
